<article class="post">
    <div class="post-title">
        {% if page.path != current_path %}
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">{{ page.title }}</a>
        {% else %}
        {{ page.title }}
        {% endif %}
    </div>
    <div class="post-date">
        {{ page.date | date(format="%A, %B %e, %Y") }}
    </div>
    {% if page.taxonomies.tags %}
    <div class="post-tags">
        {%- set tags = get_taxonomy(kind = 'tags') -%}
        {%- set tags_url = tags.permalink -%}
        <a class="tags-link" href="{{ tags_url }}" title="View all tags">🔖</a>
        {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind = 'tags', name = tag) }}" title="View all content tagged as {{ tag }}"><span class="tag">#{{ tag }}</span></a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="post-content">
        {% if page.toc and page.extra.toc %}
        <h1>On This Page...</h1>
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ page.content | safe }}
    </div>
</article>
