{% macro render_meta(page, comments) %}
    {% if page.title %}
    <div class="item-title">
        {% if page.path != current_path %}
        <a href="{{ page.permalink | safe }}" title="{{ page.title }}">{{ page.title }}</a>
        {% else %}
        {{ page.title }}
        {% endif %}
    </div>
    {% endif %}

    {% if not page.extra.hide_authors or not page.extra.hide_date or page.extra.allow_comments %}
    <div class="item-extra-meta">
        {% if not page.extra.hide_authors %}
        {% set authors = get_taxonomy(kind = "authors") %}
        {% if page.taxonomies.authors and authors | length > 0 %}
        <div class="item-authors">
            {% for author in page.taxonomies.authors %}
            <span class="author"><a href="{{ get_taxonomy_url(kind = "authors", name = author) | safe }}" title="View all content authored by {{ author }}">{{ author }}</a></span>
            {% endfor %}
        </div>
        {% endif %}
        {% endif %}

        {% if not page.extra.hide_date %}
        <div class="item-date">
            {{ page.date | date(format="%A, %B %e, %Y") }}
        </div>
        {% endif %}

        {% if page.extra.allow_comments %}
        <div class="item-comment-count">
            <a href="{{ page.permalink | safe }}#comments" title="{{ page.title }}">{{ comments | length }} comment{{ comments | length | pluralize }}</a>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% set tags = get_taxonomy(kind = "tags") %}
    {% set current_tags = page.taxonomies | get(key="tags", default=[]) %}
    {% if current_tags | length > 0 %}
    <div class="item-tags">
        {% set tags_url = tags.permalink | safe %}
        <a class="tags-link" href="{{ tags_url | safe }}" title="View all tags">☁️</a>
        {% for tag in current_tags %}
        <span class="tag"><a href="{{ get_taxonomy_url(kind = "tags", name = tag) | safe }}" title="View all content tagged as {{ tag }}">#{{ tag }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_item(page, show_comments=false) %}
<div class="item">
    {% set_global comments = [] %}
    {% set all_comments = get_section(path="comments/_index.md") %}
    {% for comment in all_comments.pages | reverse %}
        {% if comment.extra.parent %}
        {% if comment.extra.parent | trim_end_matches(pat="/") == page.path | trim_end_matches(pat="/") %}
        {% set_global comments = comments | concat(with=comment) %}
        {% endif %}
        {% endif %}
    {% endfor %}
    {{ self::render_meta(page=page, comments=comments) }}
    <div class="item-content">{{ page.content | safe }}</div>
    {% if show_comments and page.extra.allow_comments %}
    <div id="comments" class="item-title noscript">Reply</div>
    <form id="item-comment-form" class="item-comment-form noscript" data-parent="{{ page.path }}" data-title="{{ page.title}}">
        <div style="position: absolute; left: -9999px" aria-hidden="true">
            <input type="text" name="website" tabindex="-1" autocomplete="off">
        </div>
        <input name="name" type="text" placeholder="Your name...">
        <textarea name="comment" placeholder="Your comment..."></textarea>
        <div class="item-comment-form-actions">
            <div id="item-comment-form-message" class="item-comment-form-message"></div>
            <div class="item-comment-form-actions-spacer"></div>
            <button type="reset">Clear</button>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if comments | length > 0 %}
    <div class="item-title">Reader Comments</div>
    {% endif %}
    <div class="item-comment-list">
        {% for comment in comments %}
        <div class="item-comment">
            <div class="item">
                {{ self::render_meta(page=comment, comments=[]) }}
                <div class="item-content">{{ comment.content | safe }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_index(page) %}
<div class="item">
    {{ self::render_meta(page=page, comments=[]) }}
    <div class="item-content">
        {% set index = get_section(path="posts/_index.md") %}
        {% for year, pages in index.pages | group_by (attribute = "year") %}
        <div class="index-listing">
            <h2 class="index-year">
                {{ year }}
            </h2>
            {% for page in pages %}
            <div class="index-item">
                <div class="index-item-date">
                    {{ page.date | date(format="%Y-%m-%d") }}
                </div>
                <div class="index-item-title">
                    <a href="{{ page.permalink | safe }}" title="{{ page.title }}">{{ page.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_index_navigator(paginator) %}
<div class="nav">
    <div class="newer">
        {% if paginator.previous %}
        <a href="{{ paginator.previous | safe }}" title="Newer">↑ newer</a>
        {% else %}
        ↑ newer
        {% endif %}
    </div>
    <div class="older">
        {% if paginator.next %}
        <a href="{{ paginator.next | safe }}" title="Older">↓ older</a>
        {% else %}
        ↓ older
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_item_navigator(page) %}
<div class="nav">
    <div class="newer">
        {% if page.lower %}
        <a href="{{ page.lower.permalink | safe }}" title="{{ page.lower.title }}">↑ newer</a>
        {% else %}
        ↑ newer
        {% endif %}
    </div>
    <div class="older">
        {% if page.higher %}
        <a href="{{ page.higher.permalink | safe }}" title="{{ page.higher.title }}">↓ older</a>
        {% else %}
        ↓ older
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_toolbar(config) %}
    {% set has_pinned_links = config.extra.pinned_links is defined and config.extra.pinned_links | length > 0 %}
    {% if has_pinned_links %}
    <div class="toolbar">
        {% for item in config.extra.pinned_links %}
        <div class="toolbar-item">
            <a href="{{ item.href | default(value="") }}" title="{{ item.title | default(value="") }}">
                <div class="toolbar-item-content">
                    {% if item.icon %}
                    <div class="toolbar-item-icon">{{ item.icon }}</div>
                    {% endif %}
                    {% if item.title %}
                    <div class="toolbar-item-text">{{ item.title }}</div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
