<div class="gallery">
{% for asset in page.assets -%}
    {%- if asset is matching("/" ~ folder ~ "/") -%}
        {%- if asset is matching("[.](webp|jpg|png)$") -%}
        {% set image = resize_image(path=asset, width=240, height=180) %}
        {% set large = resize_image(path=asset, width=800, height=600, op="fit") %}
    <a href="#{{ folder }}-{{ rand }}-{{ loop.index }}">
        <img class="gallery-item" src="{{ image.url }}" alt="" width="240" height="180" />
    </a>
    <a href="#_" class="lightbox" id="{{ folder }}-{{ rand }}-{{ loop.index }}">
        <div style="background-image: url({{ large.url }})"></div>
    </a>
        {%- endif %}
    {%- endif %}
{%- endfor %}
</div>
