<div class="gallery">
{% for asset in page.assets -%}
    {%- if asset is matching("/" ~ folder ~ "/") -%}
    {%- if asset is matching("[.](webp|jpg|png)$") -%}
    {% set image = resize_image(path=asset, width=240, height=180) %}
    {% set large = resize_image(path=asset, width=1024, height=768, op="fit") %}
    {% set uid = folder ~ "-" ~ rand ~ "-" ~ loop.index %}
    <figure id="figure-{{ uid }}">
        <a href="#lightbox-{{ uid }}">
            <img class="gallery-item" src="{{ image.url }}" alt="" width="240" height="180" />
        </a>
    </figure>
    <dialog id="lightbox-{{ uid }}" class="lightbox">
        <a href="#figure-{{ uid }}">
            <img src="{{ large.url }}" loading="lazy" alt="" />
        </a>
    </dialog>
        {%- endif %}
    {%- endif %}
{%- endfor %}
</div>
