name: Publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
 id-token: write
 contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Configure
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::965356658022:role/Builder
          aws-region: us-west-1
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build package
        uses: shalzz/zola-deploy-action@0.21.0
        env:
          BUILD_ONLY: true
      - name: Deploy package
        run: |
          aws s3 sync public/ s3://silentyak-com-website-assets --delete --exclude "*" --include "*.ico" --include "*.png" --include "*.webp" --include "*.jpg" --include "*.svg" --include "*.woff2" --include "*.webmanifest" --include "*.css" --include "*.xml" --include "*.js" --cache-control max-age=31536000
          aws s3 sync public/ s3://silentyak-com-website-assets --delete --include "*" --exclude "*.ico" --exclude "*.png" --exclude "*.webp" --exclude "*.jpg" --exclude "*.svg" --exclude "*.woff2" --exclude "*.webmanifest" --exclude "*.css" --exclude "*.xml" --exclude "*.js" --cache-control max-age=86400
          aws cloudfront create-invalidation --distribution-id E2JDATP1TDIY9S --paths '/*'
